<template name="transaction">
    {{#each recordsWithFirstFlag}}
        <tr>
            {{#if _first}}
                <td rowspan={{recordsCount ../../records}}>{{../../transactionNumber}}</td>
                <td rowspan={{recordsCount ../../records}}>{{../../registrationTime}}</td>
                <td rowspan={{recordsCount ../../records}}>{{../../transactionDate}}</td>
                <td rowspan={{recordsCount ../../records}}>{{../../description}}</td>
            {{/if}}
            <td>{{account}}</td>
            <td>{{debit}}</td>
            <td>{{kredit}}</td>
            <td>{{description}}</td>
        </tr>
    {{/each}}
</template>
