<template name="transaction">
    {{#each recordsWithFirstFlag}}
        <tr>
            {{#if _first}}
                <td class="text-right" rowspan={{../../records.length}}>{{../../transactionNumber}}</td>
                <td rowspan={{../../records.length}}>{{registrationTimeToText ../../registrationTime}}</td>
                <td rowspan={{../../records.length}}>{{transactionDateToText ../../transactionDate}}</td>
                <td rowspan={{../../records.length}}>{{../../description}}</td>
            {{/if}}
            <td>{{account}}</td>
            <td class="text-right">{{debit}}</td>
            <td class="text-right">{{kredit}}</td>
            <td>{{description}}</td>
        </tr>
    {{/each}}
</template>
