<template name="transactionNew">
    {{#each transaction.records}}
        <tr>
            {{#if _first}}
                <td rowspan={{recordsCount ../../records}}></td>
                <td rowspan={{recordsCount ../../records}}></td>
                <td rowspan={{recordsCount ../../records}}><input type="text" name="transactionDate" value="{{transactionDateToText transaction.transactionDate}}"/></td>
                <td rowspan={{recordsCount ../../records}}><input type="text" name="description" value="{{transaction.description}}"/></td>
            {{/if}}
            <td><input type="text" name="account" value="{{account}}"/></td>
            <td><input type="text" name="debit" value="{{debit}}"/></td>
            <td><input type="text" name="kredit" value="{{kredit}}"/></td>
            <td><input type="text" name="description" value="{{description}}"/></td>
        </tr>
    {{/each}}
</template>