<template name="transactionNew">
    <div id="transaction-new">
        {{#autoForm schema=transactionCollection}}
        <fieldset>
            <legend class="title">Ný færsla</legend>
            <div class="form-group{{#if afFieldIsInvalid 'transactionDate'}} has-error{{/if}}">
                {{afFieldLabel 'transactionDate'}}
                {{afFieldInput 'transactionDate' value=today}}
                {{#if afFieldIsInvalid 'transactionDate'}}
                <span class="help-block">{{afFieldMessage 'transactionDate'}}</span>
                {{/if}}
            </div>
            <div>
                {{afFieldLabel 'description'}}
                {{afFieldInput 'description'}}
                {{#if afFieldIsInvalid 'description'}}
                <span class="help-block">{{afFieldMessage 'description'}}</span>
                {{/if}}
            </div>
        </fieldset>
        {{/autoForm}}
    </div>
</template>
